[Desktop Entry]
Version=0.0.2
Type=Application
Terminal=false
Exec=python3 ~/ignition/ignition/ignition.py
Name=Ignition
Icon=~/ignition/Armature.png
